name = "NetworkInterfaceControllers"
uuid = "6f74fd91-2978-43ad-8164-3af8c0ec0142"
authors = ["Johannes Blaschke <johannes@blaschke.science>"]
version = "0.1.0"

[deps]
AbstractTrees = "1520ce14-60c1-5f80-bbc7-55ef81b5835c"
CEnum = "fa961155-64e5-5f13-b03f-caf6b980ea82"
CpuId = "adafc99b-e345-5852-983c-f28acb93d879"
Sockets = "6462fe0b-24de-5631-8697-dd941f90decc"

[compat]
AbstractTrees = "0.4"
CEnum = "0.4"
CpuId = "0.3"
julia = "1.7"